
.ListColumn{
    float: left;
    margin: 0px;
    width: 33.33%;
    text-align: center;
}

.SearchColumn{
    float: left;
    margin: 0px;
    width: 33.33%;
}

.ListColumnOtherEquipment{
    float: left;
    margin: 0px;
    width: 100%;
    text-align: center;
}

