{% extends 'inventory_management/base.html' %}


{% block content %}
    <h1>Welcome to our Django Project</h1>
    <br>
    <pre>

    This website presents all the rooms and their equipment of the UT-Bremen School Center.
    Only administrators have the ability to create, delete and modify rooms. Visitors can
    only add notes to rooms and devices, whether something is possibly damaged or defective

    This website was created by Juan-Taner Allerborn, Abdulgani Korkmaz and Isabell Keller

    </pre>

    <a href="login/"><button class="btn btn-primary" type="submit">Sign in</button></a>
    <a href="signup/"><button class="btn btn-primary" type="submit">Sign up</button></a>



{% endblock content %}